.button_color_lav {
  width: 150px;
  height: 25px;
  background-color: #d9b3ff;
  font-weight: bold
}
.button_color_green {
  width: 150px;
  height: 25px;
  background-color: #0dbf48;
  font-weight: bold
}